<?xml version='1.0' encoding='utf-8'?>
<widget id="com.monapp.imc" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>IMC Calculator</name>
    <description>Calculateur d'IMC</description>
    <author email="dev@monapp.com" href="http://monapp.com">Moi</author>

    <content src="index.html" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />

    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />

</widget>